---
import Layout from '../layouts/Layout.astro';
import Blocks from 'src/components/blocks.astro';
---

<Layout>
	<main class="mt-[200px]">
		<p class="text-[10rem] text-center">Works</p>
		<div class="mt-[20px] mx-auto w-[300px] h-[400px] overflow-hidden">
			<img src="https://images.unsplash.com/photo-1507090960745-b32f65d3113a?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="size-full object-cover">
		</div>
		<div class="my-20 text-5xl flex flex-col gap-10 items-center text-center">
			<a href="/swup/">Home</a>
			<a href="/swup/about">About</a>
		</div>
		<Blocks />
	</main>
</Layout>
