---
import '../assets/style/app.css';
import '../assets/style/global.css';
import Header from 'src/components/header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
	 	<Header />
		<div id="swup" class="transition-scale">
			<slot />
		</div>
		<script type="module">
			import Swup from 'https://unpkg.com/swup@4?module';
			const swup = new Swup();
		</script>
	</body>
</html>
